html, body, #app {
	position: relative;
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ede9e9;
  max-width: 100%;
  overflow-x: hidden;
}

input[type="image"]
{
    border: none;
    outline: none;
}


// popups
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  height:100vh;
  // background:rgba(0,0,0,0.7);
  background:#424242b3;
  z-index:1;
  display:none;
}

.content {
  padding: 12px 25px !important;
  border-color: #3cb5cf;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


// popup close and confirm button default colors
.closeButton {
  background: #f15454 !important;
  border-color: #f15454 !important;
}

.confirmButton {
  background: #17d417 !important;
  border-color: #17d417 !important;
}


// popup title default font weight
.modal-title {
  font-weight: bold;
}

// make element vertically centered
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}